.home-videos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.featured-video{
    width: 100%;
    height: auto;
    max-width: 999px;
    aspect-ratio: 16/9;
}

// WIDTH/HEIGHT OF 560/315 REMOVED FROM IFRAME

.video{
    max-width: 100%;
    width: 777px;
    aspect-ratio: 16/9;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2{
    font-size: 2.5rem;
    color: var(--logo-text-light);
    font-family: var(--navbar-brand-font);
    margin-top: 1rem;
    text-align: center;
    max-width: 999px;
}