:root {
    --main-text-dark: #000;
    --main-text-light: #fff;
    --logo-text-light: #DE2026;
    --logo-text-dark: #005EB0;
    --bg-light: #FBFDFD;
    --logo-text-dark-transparent: #005EB099;
    --navbar-brand-font: 'Ubuntu', sans-serif;
    --main-font: 'Montserrat', sans-serif;
    --bio-font: 'Roboto', sans-serif;
}

* {
    color: var(--main-text-light);
}

body {
    background-color: var(--bg-light);
}

#root {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul {
    padding: 0;
}

header {
    width: 100%;

    .navbar-light {
        background-color: var(--bg-light) !important;
    }

    .navbar {
        width: 100%;

        .container {
            padding: 0;

            .navbar-nav {
                align-items: end;

                a,
                .nav-link {
                    color: var(--logo-text-dark);
                    font-size: 1.5rem;

                    &:hover {
                        transform: scale(1.05);
                        color: var(--logo-text-light)
                    }
                }
            }
        }
    }
}

.navbar-brand {
    display: flex;
    align-items: end;

    .navbar-brand-sec-1 {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .navbar-brand-sec-2 {
        transform: rotate(-90deg);
        color: var(--logo-text-dark);
        font-size: 0.75rem;
        width: 14px;
        text-align: end;
        margin-bottom: 22px;
    }

    h1 {
        font-family: var(--navbar-brand-font);
        letter-spacing: -2px;
        font-size: 3rem;
        margin-bottom: -1rem;
        font-weight: 900;

        .chuck {
            color: var(--logo-text-light);
        }

        .whitfield {
            color: var(--logo-text-dark);
        }
    }

    p {
        font-family: var(--navbar-brand-font);
        color: var(--main-text-dark);
        color: var(--logo-text-light);
        font-size: 1.25rem;
    }
}

.nav-link {
    font-size: 1.25rem;
}

.fb-logo {
    width: 44px;
}

.hero-section {
    position: relative;
    background-image: url('./assets/Wagner5.jpg');
    background-size: cover;
    overflow-x: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(4px);
    }
}

.hero-container {
    display: flex;
    // flex-wrap: wrap;
    padding: 1rem 0 0;
    align-items: start;
    justify-content: end;
    gap: 2rem;
    width: 100%;
    max-width: 999px;
    margin: 0 auto;
    position: relative;

    .hero-img {
        width: 444px;
        border-radius: 6px;
        z-index: 1;
    }

    .hero-text {
        padding: 1rem;
        width: 444px;
        height: 222px;
        position: absolute;
        left: 7%;
        top: 29%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: var(--main-font);

        img {
            width: 444px;
        }

        h1 {
            width: 80%;
            font-size: 1.5rem;
        }
    }

}

.home-images-section {
    width: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-light);
}

.home-images-container {
    padding: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    justify-content: center;

    img {
        max-height: 222px;
        max-width: 25%;
        height: auto;
    }

}

.about-chuck {
    color: var(--main-text-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 2rem;
    background-color: var(--bg-light);

    h2 {
        font-size: 2.5rem;
        color: var(--logo-text-light);
        font-family: var(--navbar-brand-font);
        margin-top: 1rem;
        text-align: center;
    }

    .about-chuck-text {
        max-width: 999px;
        margin-top: 2rem;
        text-align: justify;

        .last-sentence strong {
            font-size: 1.33rem;
        }
    }

    .about-chuck-text-2 {
        flex-wrap: nowrap;
        margin-block: 2rem;

        .commitment-card {
            background-color: var(--logo-text-dark);
            width: fit-content;
            padding: 1rem;

            p,
            ul,
            li,
            strong {
                color: var(--main-text-light)
            }

            strong {
                font-size: 1.5rem;
            }
        }
    }

    .about-chuck-img {
        img {
            height: 366px;
            margin: 0 1rem;
            border-radius: 6px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
    }

    .about-chuck-img-small {
        img {
            height: 266px;
            margin: 1rem;
            border-radius: 6px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

        }
    }

    .about-chuck-img-2 {
        height: 266px;
        margin: 0 1rem;
        border-radius: 6px;
        filter: drop-shadow(0 0 0.25rem var(--main-text-dark));
    }

    ul {
        padding: 0;
        color: var(--main-text-dark);
        font-family: 'Roboto', sans-serif;
        font-size: 1.25rem;
    }

    ul li {
        color: var(--main-text-dark);
        list-style-type: none;
        text-align: start;
    }

    ul li:before {
        content: '✅ ';
        // font-size: 1.15rem;
    }

    p,
    p em,
    p strong {
        color: var(--main-text-dark);
        font-family: 'Roboto', sans-serif;
        font-size: 1.25rem;
    }
}


.home-priorities {
    padding-top: 2rem;
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-light);

    .home-priorities-text {
        max-width: 999px;
        border-block: 3px solid var(--logo-text-dark-transparent);

        .last-sentence strong {
            color: var(--main-text-dark);
            font-size: 1.35rem;
        }
    }

    h2 {
        font-size: 2.5rem;
        color: var(--logo-text-light);
        font-family: var(--navbar-brand-font);
        margin-bottom: 1rem;
        margin-top: 2rem;
    }

    ul {
        list-style-type: none;
        text-align: center;

        li {
            font-size: 1.25rem;
            color: var(--logo-text-light);
        }
    }

    ul li:before {
        content: '✓ ';
        color: var(--logo-text-light);
        font-size: 1.4rem;
    }

    details {
        font-size: 1.5rem;
        font-family: var(--main-font);
        font-weight: 600;
        margin-block: 0.65rem;

        ul {
            background-color: var(--logo-text-dark);
            border-radius: 11px;
            margin-top: 0.5rem;

            li {
                color: var(--main-text-light)
            }
        }

        summary {
            background-color: var(--logo-text-dark);
            border-radius: 11px;
            padding-inline: 0.5rem;
            filter: drop-shadow(0 0 0.2rem var(--main-text-dark));
            color: var(--main-text-light)
        }

        summary:hover {
            transform: scale(1.02);
            transition: background-color 0.5s ease;
            transition: transform 0.5s ease;

        }

    }

    * {
        color: var(--logo-text-dark);
    }

    .last-details {
        margin-bottom: 2rem;
    }
}


// REMOVE IF ENDORSEMENTS SECTION IS TO BE REMOVED FROM HOME PAGE
.endorsements {
    color: var(--main-text-light);
    // background-color: var(--bg-light);
    background-image: url('./assets/paradeCropped.png');
    background-size: cover;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 444px;
    width: 999px;
    max-width: 100%;
    align-self: center;
    margin-bottom: 1rem;

    .endorsements-card {
        background-color: var(--logo-text-dark-transparent);
        width: fit-content;
        padding: 1rem;
        border-radius: 6px;
        // filter: drop-shadow(0 0 0.33rem var(--main-text-dark));
        backdrop-filter: blur(3.5px);

        ul {
            list-style-type: none;
        }
    }

    h2 {
        font-size: 2.5rem;
        color: var(--logo-text-light);
        font-family: var(--navbar-brand-font);
        margin-bottom: 1.5rem;

    }

    h4 {
        color: var(--main-text-light);

        span {
            color: var(--logo-text-light);
        }

        em {
            font-size: 88%
        }
    }
}

// REMOVE ABOVE IF ENDORSEMENTS SECTION IS TO BE REMOVED FROM HOME PAGE

// BELOW ENDORSEMENT STYLING IS FOR ENDORSEMENT PAGE
.endorsements-page-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;

    img {
        width: 999px;
        max-width: 100%;
        margin-block: 1rem;
        border-radius: 11px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .endorsements-text {
        background-color: var(--logo-text-dark);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-block: 2rem;

        p {
            padding-inline: 1rem;
            font-size: 1.25rem;
        }
    }

    .endorsements-card {
        color: blue;

        ul {
            list-style-type: none;

            li {
                text-decoration: none;
                font-size: 1.8rem;

                strong {
                    font-size: 2rem;
                }

                h4 {
                    color: var(--main-text-light);

                    span {
                        color: var(--logo-text-light);
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}


.footer {
    background-color: var(--logo-text-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    .footer-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 1rem;

        .footer-link {
            background-color: #005eb0;
            font-size: 1.8rem;
            margin: 0.5rem;
            padding: 0.5rem;
            border-radius: 44px;
            width: 222px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

            &:hover{
                transform: scale(1.05);
                background-color: var(--)
            }
        }
    }
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1.5rem;

    .footer-link {
        background-color: #36a1fe;
        font-size: 1.8rem;
        margin: 0.5rem;
        padding: 0.5rem;
        border-radius: 44px;
        width: 222px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

        &:hover{
            transform: scale(1.05);
            background-color: var(--logo-text-dark)
        }
    }
}

.copyright-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 3rem;
}


// CONTACT PAGE STYLES

.section-heading {
    font-size: 2.5rem;
    color: var(--logo-text-light);
    font-family: var(--navbar-brand-font);
    margin-top: 2rem;
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--bg-light);
    padding: 0;
}

.contact-headshot {
    height: 266px;
    margin: 1rem;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contact-text {
    width: 999px;
    max-width: 100%;
    display: flex;
    align-items: end;
    margin: 1rem;
}

.contact-sign-div {
    width: 100%;
    background-color: var(--logo-text-dark);

    .contact-sign {
        width: 777px;
        max-width: 100%;
        padding-top: 1rem;
    }
}


.contact-text p {
    color: var(--main-text-dark);
    font-size: 1.75rem;
    padding: 1rem;
    margin-bottom: 0;
    max-width: 100%;

    a {
        color: var(--logo-text-dark);
        transition: color 0.3s, text-decoration 0.3s;
        border-radius: 6px;
        padding: 5px;

        &:hover {
            color: var(--logo-text-dark);
            text-decoration: underline;
            background-color: lightgray;

        }
    }
}

.contact-text-1 {
    background-color: var(--logo-text-dark);
    color: var(--main-text-light);
    width: 999px;
    max-width: 100%;
    display: flex;
    align-items: center;
    padding-block: 3rem;

    p {
        color: var(--main-text-light);
        font-size: 1.75rem;
        padding: 1rem;
        margin-bottom: 0;
        width: 999px;
        max-width: 100%;

        a {
            color: var(--main-text-light);
            transition: color 0.3s, text-decoration 0.3s;
            padding: 5px;
            border-radius: 6px;
            overflow-wrap: break-word;
            color: #01FC3A;

            &:hover {
                color: var(--logo-text-dark);
                text-decoration: underline;
                background-color: lightgray;

            }

        }
    }
}


@media (max-width: 768px) {
    .hero-container {
        .hero-text {
            left: 2px;
            width: 311px;
            // height: 211px;

            h1 {
                font-size: 1.3rem;
                width: 100%;
            }

            img {
                width: 311px;
            }
        }

        .hero-img {
            width: 388px;
            margin-right: -3rem;
        }

    }

    .about-chuck .about-chuck-text-2 {
        justify-content: center;
        flex-wrap: wrap;

        .about-chuck-img-2 {
            height: 288px;
            margin-top: 2rem;
        }

        ul,
        ul li,
        p {
            text-align: center;
        }
    }

    .contact-sign-div {
        background-color: var(--bg-light);
    }

    .endorsements-page-section {
        margin-bottom: 3%;
    }

    .contact-text-1 {
        flex-direction: column;
    }
}

@media (max-width: 576px) {

    .navbar-brand {
        margin-left: 0.5rem;

        h1 {
            font-size: 2.75rem;
        }

        p {
            font-size: 1rem;
        }

        .navbar-brand-sec-2 {
            font-size: 0.66rem;
        }
    }

    .navbar-nav {
        margin-right: 1rem;
    }

    .navbar-toggler {
        margin-left: auto;
        margin-right: 1rem;
    }

    .hero-container {
        .hero-text {
            left: -6px;
            width: 255px;
            top: 12%;

            img {
                width: 255px;
            }

            h1 {
                font-size: 1rem;
            }
        }

        .hero-img {
            width: 255px;
            margin-right: -4.2rem;
            overflow: hidden;
        }
    }
}

@media (max-width: 999px) {
    section {
        padding-inline: 1rem;
    }
}