:root {
    --main-text-dark: #000;
    --main-text-light: #fff;
    --logo-text-light: #DE2026;
    --logo-text-dark: #005EB0;
    --bg-light: #FBFDFD;
    --logo-text-dark-transparent: #005EB099;
    --navbar-brand-font: 'Ubuntu', sans-serif;
    --main-font: 'Montserrat', sans-serif;
    --bio-font: 'Roboto', sans-serif;
}

* {
    color: var(--main-text-light);
}

#root {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    width: 100%;

    .navbar-light {
        background-color: var(--bg-light) !important;
    }

    .navbar {
        width: 100%;

        .container {
            padding: 0;

            .navbar-nav {
                align-items: end;

            }
        }
    }
}

.navbar-brand {
    display: flex;
    align-items: end;

    .navbar-brand-sec-1 {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .navbar-brand-sec-2 {
        transform: rotate(-90deg);
        color: var(--logo-text-dark);
        font-size: 0.75rem;
        width: 14px;
        text-align: end;
        margin-bottom: 22px;
        // display: flex;
        // flex-direction: column;
        // justify-content: end;
        // align-items: end;

    }

    h1 {
        font-family: var(--navbar-brand-font);
        letter-spacing: -2px;
        font-size: 3rem;
        margin-bottom: -1rem;
        font-weight: 900;

        .chuck {
            color: var(--logo-text-light);
        }

        .whitfield {
            color: var(--logo-text-dark);
        }
    }

    p {
        font-family: var(--navbar-brand-font);
        color: var(--main-text-dark);
        color: var(--logo-text-light);
        font-size: 1.25rem;
    }
}

.nav-link {
    font-size: 1.25rem;
}

.fb-logo {
    width: 44px;
}

.hero-section {
    position: relative;
    background-image: url('./assets/Wagner5.jpg');
    background-size: cover;
    overflow-x: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(4px);
    }
}

.hero-container {
    display: flex;
    // flex-wrap: wrap;
    padding: 1rem 0 0;
    align-items: start;
    justify-content: end;
    gap: 2rem;
    width: 100%;
    max-width: 999px;
    margin: 0 auto;
    position: relative;

    .hero-img {
        width: 444px;
        border-radius: 6px;
        z-index: 1;
    }

    .hero-text {
        padding: 1rem;
        width: 444px;
        height: 222px;
        position: absolute;
        left: 5%;
        top: 29%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: var(--main-font);

        img {
            width: 444px;
        }

        h1 {
            width: 80%;
            font-size: 1.5rem;
        }
    }

}

.home-images-section {
    width: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-light);
}

.home-images-container {
    padding: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    justify-content: center;

    img {
        max-height: 222px;
        max-width: 25%;
        height: auto;
    }

}

.about-chuck {
    color: var(--main-text-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 2rem;
    background-color: var(--bg-light);

    .about-chuck-text {
        max-width: 999px;
        margin-top: 1rem;
        text-align: justify;

        h2 {
            font-size: 2.5rem;
            color: var(--logo-text-light);
            font-family: var(--navbar-brand-font);
            margin-bottom: 1rem;
            text-align: center;
        }


        .last-sentence strong {
            font-size: 1.33rem;
        }
    }

    p,
    p em,
    p strong {
        color: var(--main-text-dark);
        font-family: 'Roboto', sans-serif;
        font-size: 1.25rem;

        ul {
            padding: 0;
        }

        ul li {
            color: var(--main-text-dark);
            list-style-type: none;
            text-align: center;
        }

        ul li:before {
            content: '✓';
            color: green;
            font-size: 1.15rem;
        }
    }
}


.home-priorities {
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-light);

    .home-priorities-text {
        max-width: 999px;
        border-block: 3px solid var(--logo-text-dark-transparent);
    }

    h2 {
        font-size: 2.5rem;
        color: var(--logo-text-light);
        font-family: var(--navbar-brand-font);
        margin-bottom: 1rem;
        margin-top: 2rem;
    }

    ul {
        list-style-type: none;
        text-align: justify;

        li {
            font-size: 1.25rem;
            color: var(--logo-text-light)
        }
    }

    ul li:before {
        content: '✓ ';
        color: var(--logo-text-dark);
        font-size: 1.4rem;
    }

    details {
        font-size: 1.5rem;
        color: var(--logo-text-dark);
        font-family: var(--main-font);
        font-weight: 600;

        summary:hover{
            transform: scale(1.09);
            color: var(--logo-text-light);
        }

    }

    * {
        color: var(--logo-text-dark);
    }

    .last-details {
        margin-bottom: 2rem;
    }
}

.footer {
    background-color: var(--logo-text-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 3rem;
}

@media (max-width: 768px) {
    .hero-container {
        .hero-text {
            left: 2px;
            width: 311px;
            // height: 211px;

            h1 {
                font-size: 1.3rem;
                width: 100%;
            }

            img {
                width: 311px;
            }
        }

        .hero-img {
            width: 388px;
        }

    }

}

@media (max-width: 576px) {

    .navbar-brand {
        margin-left: 0.5rem;

        h1 {
            font-size: 2.75rem;
        }

        p {
            font-size: 1rem;
        }

        .navbar-brand-sec-2 {
            font-size: 0.66rem;
        }
    }

    .navbar-nav {
        margin-right: 1rem;
    }

    .navbar-toggler {
        margin-left: auto;
        margin-right: 1rem;
    }

    .hero-container {
        .hero-text {
            left: -6px;
            width: 255px;
            top: 12%;
            img{
                width: 255px;
            }
            h1 {
                font-size: 1rem;
            }
        }

        .hero-img {
            width: 255px;
            margin-right: -2rem;
            overflow: hidden;
        }
    }
}

@media (max-width: 999px) {
    section {
        padding-inline: 1rem;
    }
}